.image_section p {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image_section a {
    color: #FFFFFF;
    font-weight: bold;
}