.home_banner_first {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 450px;
    /* width: 100%; */
}

.slidebars {
    margin-top: 66px;
 }

@media screen and (max-width: 780px) {

    .home_banner_first {
       height: 350px;
    }

}

